@font-face {
  font-family: "Futura";
  src: url("Futura.woff2") format(woff2);
}

* {
  margin: 0;
  line-height: 1.5em;
}

html {
  font-size: 10px;
  color: white;
  background-color: #1d1e1f;
}

body a,
body p,
body h1,
body h2,
body h3 {
  font-family: "Nunito", "Futura", Trebuchet MS, Arial, sans-serif;
}

body h1 {
  font-weight: bold;
}

/*
  ==========
  Navigation
  ==========
*/

nav {
  display: flex;
  align-items: center;
  background-color: #111;
  border-bottom: 1px solid #383838;
}

nav > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-right: 2rem;
}

.category-div {
  padding-right: 0rem;
  position: relative;
  display: inline-block;
  padding-right: 0rem;
}

.category-div a.main-dropdown {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-right: 2rem;
}

.category-div .dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: 85%;
  background-color: #111;
}

.category-div .dropdown a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  border-bottom: 1px solid rgb(55, 55, 55);
  border-left: 1px solid rgb(55, 55, 55);
  border-right: 1px solid rgb(55, 55, 55);
  padding: 0.5rem;
  text-align: center;
}

.category-div:hover .dropdown {
  display: block;
}

nav a:last-of-type {
  padding-right: 4rem;
}

nav form {
  margin-right: auto;
  margin-left: 1.7rem;
  height: 3rem;
  flex-grow: 0.6;
}

nav form input {
  border-style: none;
}

nav form input {
  height: 100%;
  width: 90%;
}

nav input {
  font-size: 1.7rem;
  padding: 0.5rem;
  max-height: 3rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

nav form button.search-button {
  height: 100%;
  width: 10%;
  margin-top: 0;
  float: right;
  background-color: #ff2600;
  border-radius: 0 0.5rem 0.5rem 0;
  border-style: none;
  border-color: #ff2600;
}

nav form .search-button img {
  max-height: 2rem;
  display: block;
  margin: 0 auto;
}

nav a.logo {
  height: auto;
  margin-right: 3rem;
  padding-left: 4rem;
}

nav a.logo img {
  width: 36rem;
  height: 100%;
}

/*
  =============
  Header Styles
  =============
*/

header#index {
  background-image: url("assets/img/macbook-header-img-tinted.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header#desktop {
  background-image: url("assets/img/cinema-display.png");
  background-size: cover;
  min-height: 600px;
}

header#laptop {
  background-image: url("assets/img/razer-blade.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header#tablet {
  background-image: url("assets/img/tablet-header.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header#phones {
  background-image: url("assets/img/phone-header.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header#contact {
  background-color: rgb(31, 30, 30);
  min-height: 300px;
}

header#about {
  background-color: rgb(31, 30, 30);
  min-height: 300px;
}

header#policies {
  background-color: rgb(31, 30, 30);
  min-height: 300px;
}

.header-text {
  text-align: center;
  color: white;
  padding: 10px;
  padding-top: 10%;
}

.header-text-special {
  text-align: center;
  color: white;
  padding-top: 100px;
}

.header-text-special h1 {
  font-size: 4.5rem;
}

.header-text h1 {
  font-size: 4.5rem;
  margin-bottom: 0.5em;
}

.header-text p {
  font-size: 3rem;
}

/*
  =================
  Products Showcase
  =================
*/
section#products {
  padding: 2.5rem 5rem 1rem 5rem;
}

.products-header {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0.4em;
}

.product-category-card {
  background-color: #363739;
  min-height: 40rem;
  max-height: 40rem;
  max-width: 80%;
  margin: 0 auto 3rem auto;
  display: flex;
  position: relative;
}

.product-category-card-description {
  width: 75%;
  padding: 1rem 2rem 1rem 2rem;
}

.product-category-img-wrapper {
  width: 40%;
}

.product-category-card img {
  height: 100%;
  width: 100%;
}

.desktop-img {
  object-fit: cover;
  object-position: center bottom;
}

.laptop-img {
  object-fit: cover;
  object-position: left;
}

.tablet-img {
  object-fit: cover;
}

.phone-img {
  object-fit: cover;
}

.product-category-card h1 {
  text-align: left;
  font-size: 3.75rem;
}

.product-category-card p {
  overflow-wrap: break-word;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1250px) {
  .product-category-card p {
    font-size: 1.8rem;
  }

  .product-category-card h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1270px) and (max-width: 1300px) {
  .product-category-card p {
    font-size: 1.8rem;
  }

  .product-category-card h1 {
    font-size: 2.5rem;
  }
}

.learn-more {
  background-color: rgb(29, 29, 29);
  border-style: none;
  border-radius: 3px;
  width: 25rem;
  color: #ff2600;
  font-size: 2.5rem;
  font-family: "Nunito";
  font-weight: normal;
}

a.learn-more {
  position: absolute;
  background-color: rgb(29, 29, 29);
  font-family: "Nunito";
  padding: 1rem;
  color: #ff2600;
  text-decoration: none;
  text-align: center;
  right: 4rem;
  bottom: 1.6rem;
}

@media only screen and (min-width: 1300px) and (max-width: 1380px) {
  .product-category-card p {
    font-size: 1.9rem;
  }

  .product-category-card p {
    margin-bottom: 1rem;
  }

  a .learn-more {
    font-size: 2rem;
  }
}

#desktop-products {
  padding: 2.5rem 5rem 1rem 5rem;
}

.product-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gid-column-gap: 1.2rem;
  grid-row-gap: 1rem;
  justify-items: center;
}

.product-card {
  max-width: 90%;
  background-color: #363739;
  min-width: 90%;
  padding: 1rem;
}

.product-card a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.img-wrapper {
  max-width: 100%;
  max-height: 400px;
  background-color: white;
}
.img-wrapper img {
  max-height: 210px;
  min-height: 210px;
  width: 100%;
  object-fit: cover;
}

.img-wrapper .aventum {
  object-fit: contain;
}

.img-wrapper img.omen {
  obect-fit: contain;
  object-position: center;
}

.img-wrapper img.macbook {
  object-fit: contain;
}

.img-wrapper img.razer {
  object-fit: contain;
}

.img-wrapper img.contain {
  object-fit: contain;
}

.product-name {
  display: inline;
  font-weight: bold;
}

.price {
  float: right;
}

.product-info {
  padding-top: 1rem;
}
/*============
  Testimonials
  ============
*/
section#suppliers {
  text-align: center;
  padding: 1rem 5rem 0rem 5rem;
}

#suppliers .suppliers-header {
  font-size: 5rem;
  margin-bottom: 0.4em;
}

.suppliers {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;
  justify-content: center;
}

.suppliers-wrapper .logo {
  justify-self: center;
  width: 100%;
  max-height: 10rem;
  object-fit: contain;
}

.macpaw-img {
  width: 100%;
}

.dropbox-img {
  width: 100%;
}

/*=====
  About
  =====
*/

.about-card {
  background-color: #363739;
  display: flex;
  margin-bottom: 0px;
}

.reverse-color {
  background-color: #464646;
}

.reverse {
  order: 1;
}

#about-info h1 {
  font-size: 4rem;
  font-weight: 999;
  margin-bottom: 0.25rem;
}

#about-info p {
  font-size: 2.7rem;
  font-weight: 0;
}

.about-card .about-text {
  padding: 2rem;
}

.img-wrapper-about {
  max-width: 40%;
}

.img-wrapper-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*========
  Policies
  ========
*/
div.policy {
  min-height: 10rem;
  padding: 2rem;
  background-color: #363739;
}

div.policy h1 {
  font-size: 4rem;
}

div.policy h3 {
  font-size: 2.5rem;
}

div.policy p,
div.policy ol li {
  font-size: 2rem;
}

div.policy-reverse {
  background-color: #464646;
}

/*=======
  Contact
  =======
*/
section#contact {
  padding: 2rem;
  background-color: #363739;
}

section#contact h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

section#contact h2 {
  font-size: 3rem;
}

section#contact p {
  font-size: 2.7rem;
}

.contact {
  margin-bottom: 0.5rem;
}

/*=====
  ERROR
  =====
*/
#error {
  min-height: 300px;
}

#error {
  margin-bottom: 30rem;
}

@media only screen and (min-width: 1500px) {
  #error {
    margin-bottom: 60rem;
  }
}

#error h1,
#error h2 {
  text-align: center;
}

#error h1 {
  font-size: 4.5rem;
}

#error h2 {
  font-size: 2.5rem;
}

#error .error-text {
  padding-top: 20%;
}

#error a {
  color: #ff2600;
}
/*======
  Footer
  ======
*/
footer {
  background-color: #181717;
  padding: 3rem;
  font-size: 2rem;
  color: white;
  margin-top: 8rem;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin-right: 2em;
  margin-bottom: 0.25em;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer p {
  text-align: center;
  margin-bottom: 0.25em;
}

footer.margin-top {
  margin-top: 0;
}
